body {
    text-align: center;
    background-color: rgb(191, 191, 191);
    margin: 50px;
  }

  p {
    font-family: "Yanone Kaffeesatz", sans-serif;
    color: rgb(94, 50, 0);
  }
  

  a {
    color: rgb(213, 0, 0);
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
